body {
    overflow-x: hidden;
}

.sidebar-container {
    position: fixed;
    width: 220px;
    height: 100%;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
    background: #1a1a1a;
    color: #fff;
}

.sidebar-container.active {
    width: 60px;
}

.sidebar-logo {
    padding: 15px 15px 15px 30px;
    font-size: 20px;
    background: #bb104f;
}

.sidebar-navigation {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
}

.sidebar-navigation li {
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 30px;
}

.sidebar-navigation li a {
    padding: 10px 15px 10px 30px;
    display: block;
    color: rgb(160, 148, 148);
}

.sidebar-navigation li .fa {
    margin-right: 10px;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
    text-decoration: none;
    outline: none;
}

.sidebar-navigation li::before {
    background-color: #d01257;
    position: absolute;
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 3px;
    z-index: -1;
}

.sidebar-navigation li:hover::before {
    width: 100%;
}

.sidebar-navigation .header {
    font-size: 12px;
    text-transform: uppercase;
    background-color: #151515;
    padding: 10px 15px 10px 30px;
}

.sidebar-navigation .header::before {
    background-color: transparent;
}

.content-container {
    position: absolute;
    background-color: #fff;
    width: calc(100% - 220px);
    left: 220px;
    min-height: 100vh;
    transition: 0.5s;
}

.content-container.active {
    width: calc(100% - 5px);
    left: 5px;
}


/* .toggle  */

.content-container .topbar {
    width: 100%;
    background-color: #fff;
    height: 60px;
    display: flex;
    margin-bottom: 0%;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: #fff;
    cursor: pointer;
}

.toggle .icon {
    position: absolute;
    width: 100%;
    color: #1a1a1a;
    height: 100%;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
}

table {
    table-layout: fixed;
    width: 70%;
    border-collapse: collapse;
    align-content: center;
}

thead th:nth-child(1) {
    width: 7%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 17%;
    text-align: center;
}

thead th:nth-child(4) {
    width: 15%;
}

thead th:nth-child(5) {
    width: 15%;
}

thead th:nth-child(6) {
    width: 6%;
}

thead th:nth-child(7) {
    width: 3%;
}

thead th:nth-child(8) {
    width: 17%;
}

th,
td {
    padding: 20px;
    text-align: center;
}

table:hover {
    transform: scale(1.01);
}

thead {
    background-color: #2b2a2ac7;
    color: white;
    text-shadow: 0.5px 0.5px 0.5px black;
}

.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 0%;
}

.cardBox .card {
    margin-top: 0.2rem 0;
    margin: 0.2rem 0;
    position: relative;
    background: #d01257;
    padding: 15%;
    padding-bottom: 20%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
    border: solid black 1px;
}

.cardBox .card .numbers {
    position: relative;
    font-size: 2rem;
    font-weight: 600;
}

.cardBox .card .cardName {
    color: floralwhite;
    font-weight: 500;
    font-size: 0.8rem;
}

.cardBox .card .iconBox {
    font-size: 2.0rem;
    color: floralwhite;
}

.cardBox .card .cardName,
.numbers:hover {
    transform: scale(1.40);
}

.jumbotron .cardBox .card {
    margin-top: 40%;
    position: relative;
    font-size: 20px;
    font-weight: 500;
    background: #d01257;
    padding: 100px 60px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-content: center;
}

.jumbotron .cardBox .card .numbers {
    position: relative;
    font-size: 2rem;
    font-weight: 500;
}

.cardBox .card .cardName {
    color: floralwhite;
}

form {
    table-layout: fixed;
    width: 70%;
    margin-left: 30%;
    margin-top: 10%;
    display: inline-block;
    border-collapse: collapse;
    align-content: center;
}

td a {
    color: #000;
    text-decoration: none;
}

td a:hover {
    color: #000;
    transform: scale(1.00);
}

.outofstock {
    color: red;
}

.instock {
    color: green;
}

.almostoutofStock {
    color: orange;
}

.available::after {
    position: relative;
    width: 100%;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 14px;
    height: 100%;
    content: "\f205";
    font-family: "font Awesome 5 free";
    font-weight: 900;
    font-size: 1.3rem;
}

.stockStatus {
    position: relative;
    font-size: 1.5rem;
    color: black;
}

.scrollit {
    overflow: scroll;
    height: 100px;
}

.menu {
    width: calc(100% - 220px);
    position: relative;
    left: 220px;
    min-height: 9.5vh;
    background-color: #d01257;
    transition: 0.5s;
}