<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.19/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <script src="https://kit.fontawesome.com/33e495fb35.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <div class="sidebar-container">
        <div class="sidebar-logo">
            <i class="fas fa-band-aid"></i> SAMRITE
        </div>
        <ul class="sidebar-navigation">

            <li class="header">Menu</li>

            <li>
                <a href="/index.html">
                    <i class="fa fa-tachometer-alt" aria-hidden="true"></i> Dashboard
                </a>
            </li>
            <li class="header">Another Menu</li>
            <li>
                <a href="add.html">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Item
                </a>
            </li>
            <li>
                <a href="info.html">
                    <i class="fa fa-info-circle" aria-hidden="true"></i> Summary
                </a>
            </li>
        </ul>
    </div>

    <div class="content-container">

        <div class="container-fluid">

            <!-- Main component for a primary marketing message or call to action -->
            <div class="jumbotron">

                <div class="form">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="name">Name</label>
                                <input type="name" class="form-control" id="inputName1" required>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="description">Description</label>
                                <input type="description" class="form-control" id="inputDescription1" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="category">Category</label>
                                <label for=""></label> <select id="inputCategory1" class="form-control" required>
                          
                          <option>Choose Category...</option>
                          <option>Cat 1</option>
                          <option>Cat 2</option>
                          <option>Cat 3</option>
                          <option>Cat 4</option>
                          <option>Cat 5</option>
                         </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Quantiy">Quantity</label>
                                <input type="number" class="form-control" id="inputQuantity1" required>
                            </div>
                        </div>

                        <br>
                        <button type="submit" id="submit1" class="btn btn-info btn-md" name="addItem">
                            update <i class="fa fa-check-circle"></i>
                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

    <script src="/Scripts/update.js"></script>
</body>

</html>